name: Java 21 Maven Build

on:
  workflow_call:
    inputs:
      config-path:
        required: false
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: compile
        run: mvn clean compile -U --file pom.xml
      - name: test
        run: mvn verify --file pom.xml
